<div class="card-body d-flex justify-content-center weather-app-card__body">
  {#if !current.length}
  <div class="card-body__temp" transition:fade>
    <h1>No Data</h1>
  </div>
  {:elseif current[0] === 'City not found'}
  <div class="card-body__temp" transition:fade>
    <h1>{current[0]}</h1>
  </div>
  {:else}
  <div class="card-body__temp" transition:fade>
    <span>{current[0].temp.f}</span>
  </div>
  <sup class="weather-card__degree-symbol">&deg;</sup>
  <div class="d-flex flex-column ml-2 card-body__status">
    <span>F</span>
    <span>{current[0].conditions.description}</span>
    <span>{current[0].humidity} % Humidity</span>
  </div>
  {/if}
</div>

<script>
  import { fade } from 'svelte-transitions';
  import { cubicInOut } from 'eases-jsnext';

  export default {
    transitions: {
      fade(node, { delay = 0, duration = 400 }) {
        const o = +getComputedStyle(node).opacity;

        return {
          delay,
          duration,
          easing: cubicInOut,
          css: t => `opacity: ${t * o}`
        };
      }
    }
  };
</script>

<style>
  .card-body__temp {
    font-size: 12rem;
  }

  .weather-card__degree-symbol {
    padding-top: .75rem;
    font-size: 6em;
    top: 0;
    position: unset;
    line-height: unset;
    vertical-align: top;
  }

  .card-body__status {
    margin-top: 1rem;
  }

  .card-body__status span:first-of-type {
    font-size: 3em;
    margin: .5rem 0;
  }

  .card-body__status span:nth-child(2) {
    font-size: 1.5em;
    margin: .25em 0;
    text-transform: capitalize;
  }

  .card-body__status span:last-of-type {
    font-size: 1em;
    margin: .25em 0;
  }
</style>