html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  background: url("../img/cloud1.png"), url("../img/cloud2.png"),
    linear-gradient(#367cd6, #183968);
  background-repeat: no-repeat;
  background-position: 30% 45%, 70% 40%;
  margin: 0;
  padding: 8px;
  line-height: 0.75;
  box-sizing: border-box;
}

input {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  background-color: transparent;
}

.form-group {
  margin-bottom: 0;
}
